{block menu}
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="menu">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-hover="collapse" data-toggle="collapse" data-target="#navbar-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{plink Homepage:default}"><span class="glyphicon glyphicon-home"></span> {$brand}</a>
		</div>

		<div id="navbar-main" class="navbar-collapse collapse">
			<ul n:if="!empty($menu)" class="nav navbar-nav" n:inner-foreach="$menu as $m">
				<li><a href="{$m->link}"{ifCurrent $m->link} class="active"{/ifCurrent}>{$m->text}</a></li>
			</ul>
			<ul n:if="!empty($right)" class="nav navbar-nav navbar-right" n:inner-foreach="$right as $m">
                <li><a href="{$m->link}">{$m->text}</a></li>
            </ul>
		</div>
	</div>
</div>

{block submenu}
<div n:if="!empty($submenu)" class="navbar navbar-default" role="navigation" id="submenu">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-hover="collapse" data-toggle="collapse" data-target="#navbar-main">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div id="navbar-submain" class="navbar-collapse collapse">
			<ul class="nav navbar-nav" n:inner-foreach="$submenu as $m">
				<li><a href="{$m->link}"{ifCurrent $m->link} class="active"{/ifCurrent}>{$m->text}</a></li>
			</ul>
		</div>
	</div>
</div>
{/block}
{/block menu}
