{block content}
<h1 n:block="title">Přehled místností</h1>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Adresa</th>
            <th>Kapacita</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$rooms as $room">
            <td><a n:href="timetable, id => $room->id">{$room->adresa}</a></td>
            <td>{$room->kapacita}</td>
            <td>{$room->cena|number:2:',':' '} Kč</td>
        </tr>
    </tbody>
</table>
{/block}
