{block content}
<h1 n:block="title">Přehled prováděných kurzů</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Název kurzu</th>
            <th>Úroveň</th>
            <th>Obtížnost</th>
            <th>Počet lekcí</th>
            <th>Cena</th>
        </tr>
    </thead>
    <tbody>
        <tr n:foreach="$courses as $course">
            <td>
                {if $course->related('objednane_kurzy')->count('*')}
                    <a n:href="Admin:Course:listOrdered $course->id">{$course->nazev}</a>
                {else}
                    {$course->nazev}
                {/if}
            </td>
            <td>{$course->uroven}</td>
            <td>{$course->obtiznost}</td>
            <td>{$course->related('lekce')->count('*')}
            <td>{$course->cena|number:2:',':' '} Kč</td>
        </tr>
    </tbody>
</table>
{/block}
