@import 'style.less';


body {
	padding-top: @navbar-height + @grid-gutter-width/2;
}

form .alert {
	position: static;
}
.alert {
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	top: -100%;
	transition: 1500ms;
	width: 370px;
	z-index: 9999;
}
.alert.in {
	top: 0;
}

.navbar-default {
	.navbar-header {
		.navbar-brand {
			img {
				margin-right: 5px;
			}
		}
	}
	.glyphicon {
		top: 10px;
	}
}