{block content}
<h1 n:block="title">Výpis kurzů</h1>

<table n:if="$courses" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Název</th>
            <th>Úroveň</th>
            <th>Obtížnost</th>
            <th>Cena</th>
            <th>Popis</th>
            <th n:if="$user->isAllowed('Course', 'order')">Objednat</th>
            <th n:if="$user->isAllowed('Course', 'listOrdered')">Objednané</th>
            <th n:if="$user->isAllowed('Course', 'edit')">Editace</th>
            <th n:if="$user->isAllowed('Course', 'certify')">Certifikát</th>
        </tr>
    </thead>
    <tbody>
        {foreach $courses as $course}
            <tr>
                <td><a n:href="Lecture:list, id=>$course->id" title="Zobrazit seznam lekcí">{$course->nazev}</a></td>
                <td>{$course->uroven}</td>
                <td>{$course->obtiznost}</td>
                <td>{$course->cena|number:2:',':' '} Kč</td>
                <td>{$course->popis}</td>
                <td n:if="$user->isAllowed('Course', 'order')"><a n:href="Course:order, id=>$course->id">Objednat</a></td>
                <td n:if="$user->isAllowed('Course', 'listOrdered')"><a n:href="Course:editOrdered $course->id">Seznam termínů</a></td>
                <td n:if="$user->isAllowed('Course', 'edit')"><a n:href="Course:edit $course->id">Editovat</a></td>
                <td n:if="$user->isAllowed('Course', 'certify')"><a n:href="Course:certify $course->id">Certifikovat</a></td>
            </tr>
        {/foreach}
    </tbody>
</table>
{/block}
