{block content}
<h1 n:block="title">Termíny konání kurzu {$course_c ? $course_c->nazev}</h1>

<table n:if="$courses" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>1. lekce</th>
            <th>Vede</th>
            <th>Místo konání</th>
            <th>Objednala firma</th>
            <th n:if="$user->isAllowed('Course', 'enroll')">Přihlásit se</th>
            <th n:if="$user->isAllowed('Course', 'editOrdered')">Upravit</th>
        </tr>
    </thead>
    <tbody>
        {foreach $courses as $course}
            <tr>
                <td>{$course->related('objednane_lekce', 'kurz')->order('datum')->fetch()->datum}</td>
                <td>{$course->ref('zamestnanec', 'vede')->jmeno}</td>
                <td>{$course->ref('mistnost', 'misto')->adresa}</td>
                <td>{$course->ref('firma')->nazev}</td>
                <td n:if="$user->isAllowed('Course', 'enroll')"><a n:href="Course:enroll, id=>$course->id">Přihlásit se</a></td>
                <td n:if="$user->isAllowed('Course', 'editOrdered')"><a n:href="Course:editOrdered $course->id">Upravit</a></td>
            </tr>
        {/foreach}
    </tbody>
    </table>
{/block}
