{block content}
<h1 n:block="title">Seznam účastníků {$course->nazev}</h1>

<table n:if="attendees" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Jméno</th>
        </tr>
    </thead>
    <tbody>
        {foreach $attendees as $attendee}
            <tr>
                <td>{$attendee->jmeno}</td>
            </tr>
        {/foreach}
    </tbody>
</table>
{/block}
