{layout '../../../templates/@layout.latte'}

{block content}
<h1 n:block="title">Přihlašte se</h1>

{control signInForm}

<a class="btn btn-primary" n:href=":Attendee:register">Registrovat nového účastníka</a>
<a class="btn btn-primary" n:href=":Company:register">Registrovat novou firmu</a>
{/block}
