{block content}
<h1 n:block="title">Výpis lekcí {$course->nazev}</h1>

<table n:if="$lectures" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Kurz</th>
            <th>Název</th>
            <th>Popis</th>
            <th n:if="$user->isAllowed('Lecture', 'order')">Objednat</th>
        </tr>
    </thead>
    <tbody>
        {foreach $lectures as $lecture}
            <tr>
                <td>{$lecture->ref('provadene_kurzy', 'kurz')->nazev}</td>
                <td>{$lecture->nazev}</td>
                <td>{$lecture->popis}</td>
                <td n:if="$user->isAllowed('Lecture', 'order')"><a n:href="Lecture:order, id=>$lecture->id">Objednat</a></td>
            </tr>
        {/foreach}
    </tbody>
    </table>
{/block}