{block content}
<h1 n:block="title">Výpis lekcí</h1>

<table n:if="$employees" class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Jméno</th>
            <th>Jméno</th>
            <th>Popis</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {foreach $employees as $employee}
            <tr>
                <td>{$employee->rc}</td>
                <td>{$employee->jmeno}</td>
                <td><a n:href="Employee:edit, rc=>$employee->rc">Editovat</a></td>
            </tr>
        {/foreach}
    </tbody>
    </table>
{/block}