{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<title>{ifset #title}{include title|striptags} | {/ifset}{$siteName}</title>

	{control css}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
</head>

<body>
    {control menu}

    <div class="container">
	{include content}
	</div>

    {if $flashes}
    <div n:foreach="$flashes as $flash" id="flash-{$iterator->getCounter()}" class="alert alert-{$flash->type} alert-dismissable">
        {$flash->message}
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    </div>
    <script type="text/javascript">
        setTimeout(function() {
            for(i = 1; document.getElementById('flash-' + i) != null; i++) {
                    document.getElementById('flash-' + i).className += ' in';
            }
        }, 10);
    </script>
    {/if}

	{control js}

</body>
</html>
