@import "bootstrap/bootstrap.less";

@icon-font-path: '/css/bootstrap/fonts/';

body {
  padding-top: @navbar-height + 10px;
}

#ajax-spinner {
  background: white url('../images/spinner.gif') no-repeat 50% 50%;
  display: none;
  font-size: 0;
  margin: 15px 0 0 15px;
  padding: 13px;
  z-index: 123456;
}
label.required {
  &:before {
    color: #f00;
    content: '*';
    font-size: 20px;
  }
}